



@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');


*{
    padding: 0px;
    margin: 0px;
}
:root{

    --fonteDoTitulo:'VT323', monospace;
    --fontePadrao: Arial, Helvetica, sans-serif;
    --corDoconteudo:#141C2B;
    --corDosbotoes:#06080c;
--corDaLetraDaMusica:#6389d4;



    

   
    

}
body{

       font-family:var(--fontePadrao);

    background-image: url(../IMG/imagem-no-corpo.jpeg);
     background-size: cover;
 
   
   

}
.titulo{
   
    font-family:var(--fonteDoTitulo) ;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: #0D0D0D;
    text-shadow: 1px 1px 1px #f2f2f2a9;
    
    

  

    
  
}
.imagemtitulo{
    background-image: url(../IMG/imagem-titulo.jpg);
    padding: 20px;
    

 
   
}
.menu{
background-color: black;
color: rgb(182, 182, 182);

  margin-bottom: 10px;
  padding: 5px;
  
   
    
}
.menu a{
    text-decoration: none;

    padding: 3px;
    color:var(--cor02) ;
}
.menu a:hover{
    color: rgb(39, 39, 39);
    background-color: rgba(0, 34, 34, 0.507);
  
}


/*  parte do supercombo    */

.conteudo{
    border-radius: 7px;
    background-color: var(--corDoconteudo);
    margin: auto ;
    width: 500px;
    padding: 40px;


}
.conteudo > h2{
    color: #a7c5f0;
    margin-bottom: 30px;
    font-family: 'Comfortaa', cursive;
    
}




.bloco1 img{
    width: 60%;
    

}

.bloco1 img,audio{

    display: block;
    margin: auto ;
    
    
}

.bloco1 audio{

   border-radius: 0px;
    background-color: #0c0c0b;
}



.bloco1 li{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #4674b4;
    
}
.bloco1  > p{
    color: #4674b4;
}


.botoesdedireção > .avaçar{
   
background-color: var(--corDosbotoes);
border-radius: 20px;
float: right;

width: 20%;





}
.botoesdedireção > .voltar{

    
background-color: var(--corDosbotoes);
border-radius: 20px;
 float: left;
 width: 20%;

}
   



.letra-do-Supercombo > p {


text-align:  left;
margin-bottom: 10px;
color: var(--corDaLetraDaMusica);




    }

    .letra-do-Supercombo > h2{

color: #a7c5f0;      
text-align: left;
font-size: 20px;
margin-top: 90px;
margin-bottom: 20px;
width: 200px;




}
.letra-do-Supercombo > h2:hover{
color: rgb(79, 57, 129);
text-decoration: underline;
}

    

    footer{
      

        margin-top: 50px;
     
        
    }


    .referecia a {
        text-decoration: none;
        color: rgba(40, 40, 252, 0.726);
    }

    .referecia p :hover{
        color: rgb(156, 156, 190);
    }



