
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    padding: 0px;
    margin: 0px;
}


:root{
    --corDoConteudo:rgb(172, 6, 6);
    --cor1:#f35b58 ;
    --cor2:#fc9b99;
}


body{
    background-image: url(../IMG/imagem-no-corpo.jpeg);

    background-size: cover;
}


.titulo{
    font-family: monospace;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: #0D0D0D;
    text-shadow: 1px 1px 1px #f2f2f2a9;
    
    font-family: 'VT323', monospace;

  

    
  
}
.imagemtitulo{
    background-image: url(../IMG/imagem-titulo.jpg);
    padding: 20px;
    

 
   
}
.menu{
    background-color: black;

  margin-bottom: 10px;
  padding: 5px;
  
   
    
}
.menu a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
    color: rgba(255, 255, 255, 0.603);
}
.menu a:hover{
    color: rgb(39, 39, 39);
    background-color: rgba(0, 34, 34, 0.507);
  
}





.conteudo{
background-color: var(--corDoConteudo);

margin: auto;
width: 500px;
padding: 40px;
}
.conteudo > h2{
    color: var(--cor1);

}
.bloco2 li{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--cor1);
}

.bloco2 img{
    width: 60%;

    
    
}
.bloco2 audio,img{

    display: block;
margin: auto ;
}

.letra-do-Ogrilo > p{
color: var(--cor1);
font-family: Arial, Helvetica, sans-serif;
margin-bottom: 10px;
text-align: left;
}
.letra-do-Ogrilo h2{
margin-top: 90px;
    color: var(--cor2);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
.avaçar{

float: right;

width: 20%;





}
.voltar{

    

 float: left;
 width: 20%;

}



